/* index.html */

/* eslint-disable */

.pikachu {
    position: absolute;
    left: 0;
    height: 20%;
}

.link {
    position: absolute;
    left: 980px;
    top: 110px;
    height: 35%;
    z-index: 1;
}

.sleep {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65px;
    left: 775px;
    height: 19%;
}

.button {
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.25rem;
    animation: .8s linear infinite blink;
}

/* main.html */

.landing {
    background: black;
}

body {
    background: skyblue;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    line-height: 3;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 25px;
    -webkit-animation: color-change .3s infinite;
    -moz-animation: color-change .3s infinite;
    -o-animation: color-change .3s infinite;
    -ms-animation: color-change .3s infinite;
    animation: color-change .3s infinite;
}

.sky .main {
    background: skyblue;
    position: relative;
    height: 600px;
    width: 100%;
    margin: auto 0;
}

.sky {
    background: skyblue;
    position: relative;
    height: 600px;
    width: 100%;
    margin: auto 0;
}

.sky.index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#messageBoxIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightcyan;
    font-size: 22px;
    border: 12px solid white;
    height: 175px;
    border-radius: 25%;
    position: absolute;
    margin: 0 auto;
    top: 55%;
    width: 20%;
    line-height: 40px;
}

#messageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightcyan;
    font-size: 22px;
    border: 5px solid white;
    height: 200px;
    border-radius: 25%;
    position: absolute;
    right: 7%;
    top: 3%;
    width: 20%;
    line-height: 40px;
}

.messageIndex {
    width: 80%;
    text-align: center;
}

.message {
    width: 80%;
    text-align: center;
}

#scoreTime {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightcyan;
}

.scoreDiv {
    display: flex;
    position: absolute;
    top: 10%;
    left: 4.6%;
    z-index: 2;
    background-color: transparent;
}

.clock {
    display: flex;
    position: absolute;
    top: 7%;
    left: 4.5%;
    z-index: 2;
    background: transparent;
}

progress {
    display: flex;
    position: absolute;
    width: 25%;
    left: 4.2%;
    top: 4%;

}

progress[value] {

    -webkit-appearance: none;
     appearance: none;
    border: 1px solid white;
    width: 250px;
    height: 20px;
  }




.cloud {
    position: absolute;
    top: 90px;
    left: 75px;
    flex-wrap: wrap;
    height: 10%;
    z-index: 1;
}

.one {
    top: 180px;
    left: -50px;
    z-index: 0;
    height: 3%;
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: fly;
    -webkit-animation-duration: 16s;
}

.two {
    top: 180px;
    left: -50px;
    z-index: 0;
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: fly;
    -webkit-animation-duration: 13s;
}



.three {
    top: 400px;
    left: -50px;
    height: 30%;
    position: absolute;
    z-index: 1;
    -webkit-animation: linear infinite;
    -webkit-animation-name: fly;
    -webkit-animation-duration: 3s;
}

.four {
    top: 200px;
    left: -50px;
    z-index: 1;
    height: 18%;
    -webkit-animation: fly 6s linear infinite;
    /* -webkit-animation-delay: 2s; */
    -webkit-animation: fly 6s linear infinite;
    -webkit-animation: fly 6s linear infinite;
}

.five {
    top: 450px;
    left: -50px;
    height: 15%;
    position: absolute;
    z-index: 1;
    -webkit-animation: fly 19s linear infinite;
    -webkit-animation-name: fly 19s linear infinite;
    -webkit-animation-duration: fly 19s linear infinite;
}

.six {
    top: 180px;
    left: -50px;
    height: 5%;
    z-index: 0;
    position: absolute;
    -webkit-animation: fly 45s linear infinite;
    -webkit-animation-name: fly 45s linear infinite;
    -webkit-animation-duration: fly 45s linear infinite;
}

.seven {
    top: 275px;
    left: 1090px;
    height: 13%;
    position: absolute;
    z-index: 0;
}

h1 {
    text-align: center;
    position: relative;
    z-index: 1;
}

div.dodger {
    box-sizing: content-box;
}

div.dodger.image {
    top: 100px;
    left: 0px;
    /* border: none; */
    width: 125px;
    height: 125px;
    position: absolute;
    transition: all .7s;
    content: url(images/kirby-flying.gif);
}

div.dodger.right {
    /* size: 25%; */
    content: url(images/kirby-flying-right.gif);
}

div.dodger.flash {
    animation: flash .7s linear
}

/* .heart {
    top: 200px;
    height: 25%;
    content: url(images/heart.png);
    height: 5%;
    animation: fly 2.2s linear infinite, spin .4s linear infinite;
} */

.star {
    position: absolute;
    top: 25px;
    left: 1050px;
    height: 10%;
    content: url(images/mariostar.png);
    -webkit-animation: fly 3s linear infinite, spin .2s linear infinite;
    -moz-animation: fly 3s linear infinite, spin .2s linear infinite;
    animation: fly 2.2s linear infinite, spin .4s linear infinite;
}

.trump {
    position: absolute;
    top: 600px;
    left: -400px;
    height: 10%;
    content: url(images/trumpwall.png);
    -webkit-animation: fly 10s linear infinite;
    /* spin 6s linear infinite; */
    -moz-animation: fly 10s linear infinite;
    /* spin 6s linear infinite; */
    animation: fly 10s linear infinite, /* spin 6s linear infinite; */;
    animation-delay: 4s
}

.sword {
    position: absolute;
    top: 500px;
    left: -100px;
    height: 15%;
    content: url(images/sword.png);
    -webkit-animation: fly 3s ease-in-out infinite, spin .2s ease-in infinite;
    -moz-animation: fly 3s ease-in-out infinite, spin .2s ease-in infinite;
    animation: fly 3s ease-in-out infinite, spin .2s ease-in infinite;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
}

#music {
    visibility: hidden;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@-webkit-keyframes color-change {
    0% {
        color: blue;
    }
    50% {
        color: yellow;
    }
    100% {
        color: orange;
    }
}

@-moz-keyframes color-change {
    0% {
        color: blue;
    }
    50% {
        color: yellow;
    }
    100% {
        color: orange;
    }
}

@-ms-keyframes color-change {
    0% {
        color: blue;
    }
    50% {
        color: yellow;
    }
    100% {
        color: orange;
    }
}

@-o-keyframes color-change {
    0% {
        color: blue;
    }
    50% {
        color: yellow;
    }
    100% {
        color: orange;
    }
}

@keyframes color-change {
    0% {
        color: rgb(3, 3, 116);
    }
    50% {
        color: lightcoral;
    }
    100% {
        color: yellow;
    }
}

@-webkit-keyframes fly {
    0% {
        left: 0;
    }
    50% {
        left: 100%;
    }
    100% {
        left: 110%
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes flash {
    0% {
        opacity: 1;
    }
    10% {
        opacity: .5;
    }
    20% {
        opacity: .1;
    }
    35% {
        opacity: .5
    }
    50% {
        opacity: 1;
    }
    65% {
        opacity: .5;
    }
    80% {
        opacity: .1;
    }
    90% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    10% {
        opacity: .5;
    }
    20% {
        opacity: .1;
        color: white
    }
    35% {
        opacity: .5
    }
    50% {
        opacity: 1;
    }
    65% {
        opacity: .5;
    }
    80% {
        opacity: .1;
        color: white
    }
    90% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

.koopa {
    position: fixed;
    left: -200px;
    bottom: px;
    margin-top: -25px;
    margin-left: -25px;
    height: 150px;
    width: 150px;
    /* background:red; */
    animation: bounce 2s infinite, fly 10s infinite;
    content: url(images/koopa.png);
    animation-delay: 10s

}

@-webkit-keyframes bounce {
    0% {
        bottom: 5px;
    }
    40%, 60% {
        bottom: 12px;
    }
    20%, 80% {
        bottom: 16px;
    }
    50% {
        bottom: 25%;
    }
    100% {
        bottom: 0;
    }
}