/* index.html */
/* eslint-disable */


.pikachu {
    position: absolute;
    left: 0;
    height: 20%;
}

.link {
    position: absolute;
    left: 980px;
    top: 110px;
    height: 35%;
    z-index: 1;
}

.sleep {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 140px;
    left: 800px;
    height: 19%;
}

.button {
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.25rem;
    animation: .8s linear infinite blink;
}

/* main.html */

body {
    background: skyblue;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    line-height: 3;    
    overflow-x: hidden;
}

h1 {
    font-size: 25px;
    -webkit-animation: color-change .3s infinite;
    -moz-animation: color-change .3s infinite;
    -o-animation: color-change .3s infinite;
    -ms-animation: color-change .3s infinite;
    animation: color-change .3s infinite;
}

.sky {
    background: skyblue;
    position: relative;
    height: 600px;
    width: 100%;
    margin: auto 0;
}

.sky.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoreDiv {
    display: flex;
    position: absolute;
    bottom: 4%;
    right: 3%;
    z-index: 2;    
}

.clock {
    display: flex;
    position: absolute;
    bottom: 2%;
    right: 3%;
    z-index: 1;   
}

.cloud {
    position: absolute;
    top: 90px;
    left: 75px;
    flex-wrap: wrap;
    height: 10%;
    z-index: 1;
}

.one {
    top: 180px;
    left: -50px;
    z-index: 0;
    height: 3%;
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 16s;
}

.two {
    top: 180px;
    left: -50px;
    z-index: 0;
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 13s;
}

.three {
    top: 400px;
    left: -50px;
    height: 30%;
    position: absolute;
    z-index: 1;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 3s;
}

.four {
    top: 200px;
    left: -50px;
    z-index: 1;
    height: 18%;
    -webkit-animation: run 6s linear infinite;
    /* -webkit-animation-delay: 2s; */
    -webkit-animation: run 6s linear infinite;
    -webkit-animation: run 6s linear infinite;
}

.five {
    top: 450px;
    left: -50px;
    height: 15%;
    position: absolute;
    z-index: 1;
    -webkit-animation: run 19s linear infinite;
    -webkit-animation-name: run 19s linear infinite;
    -webkit-animation-duration: run 19s linear infinite;
}

.six {
    top: 180px;
    left: -50px;
    height: 5%;
    z-index: 0;
    position: absolute;
    -webkit-animation: run 45s linear infinite;
    -webkit-animation-name: run 45s linear infinite;
    -webkit-animation-duration: run 45s linear infinite;
}

.seven {
    top: 275px;
    left: 1090px;
    height: 13%;
    position: absolute;
    z-index: 0;
}

h1 {
    text-align: center;
    position: relative;
    z-index: 1;
}

div.dodger {

    box-sizing: content-box;
}

div.dodger.image {
    top: 0px;
    left: 0px;
    /* border: none; */
    width: 100px;
    height: 100px;
    position: absolute;
    transition: all .7s;
    content: url(images/kirby.png);
}

div.dodger.right {
    size: 25%;
    content: url(images/kirby-right.png);
}

div.dodger.flash {
    animation: flash .7s linear
}

.star {
    position: absolute;
    top: 25px;
    left: 1050px;
    height: 10%;
    content: url(images/mariostar.png);
    -webkit-animation: run 3s linear infinite, spin 1s linear infinite;
    -moz-animation: run 3s linear infinite, spin 1s linear infinite;
    animation: run 3s linear infinite, spin 1s linear infinite;
}

.trump {
    position: absolute;
    top: 600px;
    left: 1050px;
    height: 10%;
    content: url(images/trumpwall.png);
    -webkit-animation: run 10s linear infinite;
    /* spin 6s linear infinite; */
    -moz-animation: run 10s linear infinite;
    /* spin 6s linear infinite; */
    animation: run 10s linear infinite, 
    /* spin 6s linear infinite; */
}

.sword {
    position: absolute;
    top: 500px;
    left: -100px;
    height: 10%;
    content: url(images/sword.png);
    -webkit-animation: run 5s linear infinite, spin .2s linear infinite;
    -moz-animation: run 5s linear infinite, spin .2s linear infinite;
    animation: run 5s linear infinite, spin .2s linear infinite;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@-webkit-keyframes color-change {
    0% {
        color: blue;
    }
    50% {
        color: lightpink;
    }
    100% {
        color: pink;
    }
}

@-moz-keyframes color-change {
    0% {
        color: blue;
    }
    50% {
        color: lightcyan;
    }
    100% {
        color: pink;
    }
}

@-ms-keyframes color-change {
    0% {
        color: blue;
    }
    50% {
        color: lightcyan;
    }
    100% {
        color: pink;
    }
}

@-o-keyframes color-change {
    0% {
        color: blue;
    }
    50% {
        color: lightpink;
    }
    100% {
        color: pink;
    }
}

@keyframes color-change {
    0% {
        color: blue;
    }
    50% {
        color: yellow;
    }
    100% {
        color: orange;
    }
}

@-webkit-keyframes run {
    0% {
        left: 0;
    }
    50% {
        left: 100%;
    }
    100% {
        left: 110%
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes flash {
    0% { opacity: 1; } 
    10% { opacity: .5; }
    20% { opacity: .1; }
    35% { opacity: .5 } 
    50% { opacity: 1; }
    65% { opacity: .5; }
    80% { opacity: .1; }
    90% { opacity: .5; }
    100% { opacity: 1; }
}
@keyframes flash {
    0% { opacity: 1; } 
    10% { opacity: .5; }
    20% { opacity: .1; 
        color: white}
    35% { opacity: .5 } 
    50% { opacity: 1; }
    65% { opacity: .5; }
    80% { opacity: .1; 
        color: white}
    90% { opacity: .5; }
    100% { opacity: 1; }
}